@import "reset";
@import "animation";
@import "header";
@import "main-page-text";
@import "browser";
@import "browser-content-item";

.main {
  height: 100%;
  padding: 24px;
  background: url("../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 32px;

  &__text {
    display: grid;
    grid-gap: 16px;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-rows: 100px 1fr;
    padding: 16px;
  }
  .content {
    grid-template-columns: 1fr;

    &__text {
      grid-row: 1;
    }
  }
}
